
<div id="chart-demo">
    <dx-chart
      title="Jim's Coding Experiences Over Time"
      palette="Harmony Light"
      [dataSource]="populationData"
    >
      <dxi-series valueField="webDevelopment" name="Web Development"></dxi-series>
      <dxi-series valueField="javascript" name="JavaScript / TypeScript"></dxi-series>
      <dxi-series valueField="angular" name="Angular / AngularJS"></dxi-series>

      <dxo-common-series-settings
        #commonSeries
        argumentField="year"
        [type]="types[0]"
        title="Foo"
      >
      </dxo-common-series-settings>
      <dxo-margin [bottom]="20"></dxo-margin>
      <dxi-value-axis title="Years of Experience"></dxi-value-axis>
      <!-- <dxo-value-axis title="Ok"></dxo-value-axis> -->
      <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>
      <dxo-export [enabled]="true"></dxo-export>
      <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
      </dxo-legend>
    </dx-chart>
    <!-- <div class="options">
      <div class="caption">Options</div>
      <div class="option">
        <span>Series Type</span>
        <dx-select-box
          [dataSource]="types"
          [(value)]="commonSeries.type"
          [inputAttr]="{ 'aria-label': 'Series Type' }"
        >
        </dx-select-box>
      </div>
    </div> -->
  </div>