<dx-chart palette="violet" [dataSource]="populationData" title="Example Getting Data From An API Call"
  id="apiCallLineChart">
  <dxi-series valueField="population" name="Population"></dxi-series>
  <dxi-value-axis title="USA Total Population"></dxi-value-axis>
  <dxo-common-series-settings #seriesSettings argumentField="year" [type]="types[0]">
  </dxo-common-series-settings>
  <dxo-margin [bottom]="20"></dxo-margin>
  <dxo-common-axis-settings>
    <dxo-grid [visible]="true"></dxo-grid>
  </dxo-common-axis-settings>
  <dxo-legend verticalAlignment="top" horizontalAlignment="right">
  </dxo-legend>
  <dxo-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
    <dxo-label>
      <dxo-format type="decimal"></dxo-format>
    </dxo-label>
  </dxo-argument-axis>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-tooltip [enabled]="true"></dxo-tooltip>
</dx-chart>